* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
    background-color: #1f2937;
    
}
.navbar div ul {
    display: flex;
    gap: 20px;
}
.navbar div ul li {
    list-style: none;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
.menu {
    font-size: 18px;
    color: #e5e7eb;
}

/* Hero */
.hero {
    display: flex;
    padding: 70px 70px;
    background-color: #1f2937;
    justify-content: center;
    flex: 1;
}
.hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
}
.hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}
.boton {
    padding: 8px 25px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0;
    outline: 0;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 18px;
}
.hero-img img {
    width: 350px;
    justify-content: center;
}
.container1 {
    padding: 30px 70px;
}
.container1 h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 30px 70px;
}
.cards-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.cards {
    height: 100px;
    width: 100px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    
    
    /* justify-content: space-around; */
    /* align-items: center; */
}
.card-text {
    text-align: center;
    width: 100px;
    font-size: 18px;
}
.quote {
    display: flex;
    flex-direction: column;
    padding: 100px 100px;
    background-color: #e5e7eb;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */

}
.quote p {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    /* swidth: 1200px; */
    /* text-align: justify; */
    /* text-align: center; */

}
.quote h2 {
    text-align: right;
    /* padding-right: 100px; */
}
.action {
    display: flex;
    background-color: #3882f6;
    padding: 30px 70px;
    margin: 80px;
    justify-content: space-between;
    border-radius: 5px;
}
.action h3 {
    color: #f9faf8;
}
.action p {
    color: #e5e7eb;
}
.action .boton2 {
    padding: 8px 25px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid white;
    outline: 0;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 18px;
}
footer {
    background-color: #1f2937;
    padding: 40px;
    color: #f9faf8;
    text-align: center;
}